html {
  $scroll-offset: 4rem;

  scroll-padding-top: $header-height + $scroll-offset;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-background;
  color: $color-font-dark;
}

.overflow-hidden {
  overflow: hidden;
}